header {
  font-family: 'Arial';
  color: red;
  font-size: 40px;
  text-align: center;
  padding: 20px 0;
}

input {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  height: 40px;
  padding: 10px;
  box-shadow: none;
  width: 80%;
}
